body {
    font-family: 'Times New Roman', serif;
    color: black;
    background-color: white;
  }
  
  .imgCart {
    max-height: 100px;
  }
  
  .divCart {
    margin: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-style: groove;
    border-color: rgb(165, 165, 165);
  }
  
  .labelClass {
    margin: 15px;
    & label {
      padding: 5px;
    }
  }
  
  .totalClass {
    padding: 30px;
    & button {
      margin-top: 15px;
      padding: 20px;
    }
  }
  
  .buttonClass {
    margin: 30px;
    & button {
      margin: 20px;
    }
  }
  
  .tyBuy {
    margin: 0 auto;
    max-height: 500px;
  }
  