body {
    font-family: 'Times New Roman', serif;
    color: black;
    background-color: white;
  }
  
  .strong1,
  .cart {
    color: antiquewhite;
    font-size: x-large;
    padding: 0 10px 0 10px;
  }
  
  .strong1 {
    background-color: blueviolet;
    border-radius: 30%;
    margin-right: 10px;
  }
  