body {
    font-family: 'Times New Roman', serif;
    color: black;
    background-color: white;
  }
  
  .classCard {
    padding: 15px;
    margin: 20px;
    align-items: center;
    background: linear-gradient(to top, #333333, #666666);
    border: 1px solid #555555;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .classCard:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
  